<div class="travel-item-home-wrapper">

<!--  游记大图-->
  <div class="travel-item-image">
    <img src="https://n1-q.mafengwo.net/s6/M00/DE/BE/wKgB4l2IzTmAV1xZABUiHqtjTBI062.png?imageMogr2%2Finterlace%2F1">
    <div class="carousel-caption">
      <a href="http://www.mafengwo.cn/i/16918408.html" target="_blank">
        <div class="date">
          27/Sep.2019
        </div>
        <h3>枕在音乐里 醒在童话中 | 捷奥蜜月游!</h3>
      </a>

    </div>
  </div>

<!--  游记作者-->
  <div class="view_title">
      作者信息
    <div class="vi_con">

    </div>

  </div>

<!--  游记正文-->
  <div class="view_content">

    <div class="container">
      <div class="row">
        <!-- 左侧内容-->
        <div class="col-sm-9 col-md-6 col-lg-8 col-xl-8 item-home">
         <p>content</p>
        </div>
        <!--  右侧列表-->

        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-4 item-nav-right">
          <app-nav-right></app-nav-right>
        </div>

      </div>
    </div>

  </div>
</div>
